RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 http://dylaningleby.github.io/404

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ 404.html [L]